.button {
	margin-right: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: #057fd0;
	border-radius: 19px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 26px;
	text-decoration: none;
	text-shadow: 0px 0px 10px #5b786b;
}
.button:hover {
	background-color: #019ad2;
}
.button:active {
	position: relative;
	top: 1px;
}
.button.active {
	background-color: #59ef33;
}
.button.false {
	background-color: red;
}
.button.active:hover {
	background-color: red;
}

.button.false:hover {
	background-color: #59ef33;
}
