.button {
	margin-right: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: var(--purple);
	border-radius: 19px;
	border: none;
	cursor: pointer;
	color: #ffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 26px;
	text-decoration: none;
	text-shadow: 0px 0px 10px #5b786b;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: var(--purple-light);
}

.button:active {
	position: relative;
	top: 1px;
}

.button.active {
	background-color: var(--yellow-light);
}

.button.false {
	background-color: var(--purple-light);
}
.button.delete {
	background-color: var(--purple-shadow);
}

@media only screen and (max-device-width: 480px) {
	.button {
		font-size: 14px;
		padding: 10px 20px;
	}
}
@media only screen and (max-device-width: 320px) {
	.button {
		font-size: 14px;
		padding: 5px 14px;
	}
}
