.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.filter {
	padding: 10px 0;
}
.container_todoItem {
	background-color: beige;
}
@media only screen and (max-device-width: 480px) {
}
