.container {
	display: flex;
	height: 60px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	background-color: var(--purple-sun);
	border-radius: 20px;
	/* height: 100%; */
}
.container:last-child {
	margin-bottom: 0;
}
.action {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-right: 20px;
}
.title {
	margin-left: 5px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	/* text-decoration: none; */
}

.title.dashed {
	text-decoration: line-through;
	/* color: white; */
}
/* @media only screen and (min-width: 2000px) {
}

@media only screen and (min-width: 1440px) {
	.container {
		width: 60%;
	}
} */

@media only screen and (min-width: 1024px) {
	.container {
		width: 90%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		width: 80%;
	}
}
@media only screen and (max-width: 768px) {
	.container {
		width: 80%;
	}
}

@media only screen and (max-device-width: 480px) {
	.container {
		width: 94%;
		flex-direction: column;
		height: 100%;
	}
	.title {
		margin-top: 20px;
		font-size: 20px;
	}
	.action {
		margin-top: 20px;
		margin-bottom: 5px;
	}
}
@media only screen and (max-device-width: 320px) {
	.title {
		font-size: 15px;
	}

	.container {
		width: 98%;
	}
	.action {
		gap: 5px;
	}
}

@media only screen and (device-width: 768px) {
	/* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* For landscape layouts only */
}
