.container {
	display: flex;
	height: 50px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	background-color: var(--purple-sun);
	border-radius: 20px;
}
.action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding-right: 20px;
}
.title {
	margin-left: 5px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	/* text-decoration: none; */
}

.title.dashed {
	text-decoration: line-through;
	/* color: white; */
}
