.container {
	display: flex;
	height: 50px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	background-color: var(--purple-sun);
	border-radius: 20px;
}
.action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding-right: 20px;
}
.title {
	margin-left: 5px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	/* text-decoration: none; */
}

.title.dashed {
	text-decoration: line-through;
	/* color: white; */
}
@media only screen and (min-width: 960px) {
	/* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
	/* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
	/* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
	.container {
		display: flex;
		height: 50px;
		margin-bottom: 10px;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: var(--purple-sun);
		border-radius: 20px;
	}
	.action {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		padding-right: 20px;
	}
}
@media only screen and (device-width: 768px) {
	/* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* For landscape layouts only */
}
